/* font-family: 'Oswald', sans-serif;
font-family: 'PT Serif', serif; */  
body{
    margin: 0;
    font-family: 'PT Serif', serif;
}
.top__section{
    margin-bottom: 3px;
    
}
.orange__highlight{
    color: orange;
}
.hf__width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
p{
    color: gray;
    margin-bottom: 30px;

}
.hf__width h1,h2,h3,h4{
    color: white;
}
.hire__btn{
    text-decoration: none;
    background: linear-gradient(30deg, orange, #e78e28);
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.hf__width img{
    width: 100%;
    margin-top: 15px;
    
}
section{
    height: 500px;
    background: #050505;
}
.social__icon{
margin-top: 50px;
}
.social__icon a{
    color: white;
    width: 30px;
    text-decoration: none;
}
.nav__bar{
    background:linear-gradient(80deg, #111111, #817676);
    height: 43px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.hf__width ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
    
}
.hf__width ul li{
    float: left;
    margin-right: 15px;
    padding: 5px;
   

}
.hf__width ul li a{
    text-decoration: none;
    font-size: 20px;
    color: gray;
    text-align: center;
    

}
.contact__link{
    text-align: center;
}
.contact__link a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.dream__area{
    margin: 3px 0;
    padding: 7px;
}

.experianc__area,
.contact__section{
    margin-top: 3px;
    padding: 5px;
}
.single__experianc{
    box-shadow: 10px 20px 40px gray;
    border-radius: 10px;
    height: 50%;
}
#full__stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ffb300fd, #f88f05);
    border-image-slice: 1;
}
#bignner__{
    border-left: solid 7px;
    border-image: linear-gradient(180deg,#2012e6, #00aeff);
    border-image-slice: 1;
}
.contact__section h3{
  text-align: center;
}
.contact__area{
    width: 350px;
    height: 150px;
    margin: 0 auto;
    background: #111111;
    text-align: center;
}
.contact__area input,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.contact__area input[type=button]{
    width: 20%;
    background: #413e3e5b;
    color: white;
    
}
footer{
    background: #050505;
    margin-bottom: 0;
    margin-top: 3px;
    padding: 5px;
}
footer p{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}